<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DriveGenie Suite">
    <test name="DriveGenie Tests">
        <classes> 
       		<class name="com.dgcustomer.testScript.LoginORSignUpTest"/>
       		<class name="com.dgcustomer.testScript.CreateProfileTest"/>
            <class name="com.dgcustomer.testScript.OneWayTest"/>
			<class name="com.dgcustomer.testScript.RoundTripTest"/>    
			<class name="com.dgcustomer.testScript.OutStationOneWayTest"/>
			<class name="com.dgcustomer.testScript.OutStationRoundTriptest"/>
        </classes>
    </test>
</suite>